@media (max-width: 720px) { 

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
</style>
body{
    
    margin:0;
    padding:0;
    
    
}

.nav{
    font-size:40px;
    text-align: center;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    
    
}

.navigation{
    
   text-align:center;
   font-family: 'Roboto', sans-serif;
    
}

.navigation li  {
    
    display:inline;
    padding:10px;
    margin:0 auto;
    color:white;
}

a{
    text-decoration:none;
    color:white;
    
}





body{
    background-color:#ff6666;
}
    


.container{
    text-align:center;
    padding-top:20px;
    
    
}








#btn1, #btn2, #btn3, #btn4, #btn5, #btn6,
#btn7, #btn8, #btn9, #btn10, #btn11, #btn12,
#btn13, #btn14, #btn15, #btn16, #btn17, #btn18,
#btn19, #btn20, #btn21{
    display:block;
    text-decoration: none;
    width:300px;
    height:100px;
    margin:0px auto;
    padding:20px;
    color:white;
    font-family:'Roboto';
    -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: black;
    font-size:30px;
    
    
    
    
}






#btn1{
    background:url(../img/caesar_salad.gif);
    
    
   
}

#btn2{
    background:url(../img/cobb_salad.gif);
}



#btn3{
    
    background:url(../img/greek_salad.jpg);
    
   
}

#btn4{
    
    
    background:url(../img/mexican_salad.jpg);
    background-position: center;
    
   
}

#btn5{
    
    
    background:url(../img/potato_salad.jpg);
    
   
}

#btn6{
    
   
    background:url(../img/shopska_salad.png);
    
    background-position: left;
   
}


#btn7{
    background:url('../img/french_onion.jpg');
    background-size:300px;
    background-position:center;
    
    
}

#btn8{
    
    
    background:url('../img/lasagna.jpg');
    background-position: center;
}



#btn9{
background:url('../img/Chicken-Mushroom-Risotto_2-680x486.jpg');
    background-position: center;
    background-size:300px;
    
}

#btn10{
    background:url('../img/pasta_carbonara.jpg');
    background-position: center;
    background-size:300px;
}

#btn11{
    background:url('../img/pizza.jpg');
    background-position: center;
}

#btn12{
    background:url('../img/roast-beef.jpg');
    background-position:center;
    background-size:300px;
}

#btn13{
    
    background:url('../img/fish_fillets.jpg');
    background-position:center;
    background-size:300px;
}

#btn14{
    background:url('../img/southern-fried-chicken.jpg');
  background-position:center;
    background-size:300px;
}




#btn15{
    background:url('../img/banana-split-17976-1.jpg');
    background-position:center;
    background-size:300px;
    
   
}

#btn16{
    background:url('../img/IMG_5537-1.jpg');
    background-position:center;
    background-size:600px;
    
}



#btn17{
    background:url('../img/blueberry.cheesecake.jpg');
    background-size:300px;
    
    
    
   
}

#btn18{
    background:url('../img/easy-molten-chocolate-souffle-58756-1.jpg');
    background-position:center;
    background-size:300px;
  
    
    
   
}

#btn19{
    background:url('../img/creme-caramel-74779-1.jpg');
    background-position:center;
    background-size:300px;
    
    
}

#btn20{
    background:url('../img/easy-pancakes_1980x1320-118377-1.jpg');
    background-position:center;
    background-size:300px;
    
    
   
}

.container{
    color:white;
    font-size:30px;
    
    position:relative;
}


.container a{
    color:#33cccc;
    padding-top:20px;
}


.input {
   position:relative;
   top:130px;
   font-family:'Roboto', sans-serif;
    font-size:40px;
    text-align:center;
    
}


label{
    color:white;
    
}



input{
   margin-top:50px;
   font-size:20px;
   font-family:'Roboto' , sans-serif;
   color:#33cccc;
   border: 2px solid red;
   border-radius: 4px;
   
}

#schedule{
    margin-top:60px;
    width:250px;
    height:50px;
    font-size:20px;
    font-family:'Roboto', sans-serif;
    color:white;
    background-color:#33cccc;
    
}

}


